form p label {
	display: none;
}

table {
	border-collapse: collapse;
}

.helptext {
	display: none;
}

td {
	border: 1px solid grey;
	padding: 0px 10px;
}

.caption th {
	background-color: #dddddd;
	color: green;
	border: 1px solid green;
	padding: 10px;
}

.form_td {
	padding: 0;
	border-style: none;
}

.add_tr td select,
.add_tr td input,
.add_tr td button {
	background-color: #ffddee;
	border: 1px solid #ee88aa;
	color: blue;
	margin: 10px 0px;
}

input, select {
	padding: 5px 10px;
	max-width: 120px;
	border: 1px solid black;
}

input {
	max-width: 80px;
}