form p label {
	display: none;
}

.helptext {
	display: none;
}

td {
	border: 1px solid black;
	padding: 10px;
}

.caption td {
	background-color: #dddddd;
	color: green;
}

.form_td {
	padding: 0;
	border-style: none;
}

input, select {
	padding: 10px;
	max-width: 120px;
	border: 1px solid black;
}

input {
	max-width: 80px;
}